.back-button {
	padding: 3rem 0;
	a {
		box-shadow: 0 0 5px rgba(87, 87, 87, 0.493);
		width: fit-content;
		padding: 7px 25px;
		text-decoration: none;
		display: flex;
		align-items: center;
		background: white;
		color: $very-dark-blue-text;
		border-radius: 5px;

		svg {
			width: 15px;
			height: 10px;
			margin-left: 2px;
			margin-right: 10px;
		}
	}
}

.country-detail {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
	justify-items: flex-start;
	grid-gap: 1rem 2rem;

	@media (max-width: 620px) {
		grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
	}

	.bold {
		font-weight: 600;
	}

	img {
		width: 92%;
		height: auto;
		max-height: 420px;
		object-fit: cover;
		box-shadow: 0 0 7px rgba(73, 73, 73, 0.411);

		@media (max-width: 768px) {
			width: 100%;
		}
	}

	&-content {
		font-size: $detail-page-font-size;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-around;
		margin: 2rem 0;
		width: 100%;

		h2 {
			font-size: 28px;
			margin-bottom: 1.5rem;
		}

		.country-detail-stats {
			display: flex;
			justify-content: space-between;
			width: 100%;

			@media (max-width: 620px) {
				flex-direction: column;

				&-left {
					margin-bottom: 1.5rem;
				}
			}

			p {
				margin-bottom: 8px;
			}
		}

		.country-detail-borders {
			display: inline-flex;
			align-items: center;

			@media (max-width: 620px) {
				flex-direction: column;
				align-items: flex-start;
				margin-top: 1.5rem;
			}

			.border {
				min-width: 127px;
			}

			.border-container {
				display: flex;
				flex-wrap: wrap;
				margin-left: 1rem;

				@media (max-width: 620px) {
					margin: 0.5rem 0;
				}

				.border-button-container {
					padding: 0.4rem 0.8rem;
					margin: 0.4rem;
					box-shadow: 0 0 3px rgba(73, 73, 73, 0.411);
					text-align: center;
					height: fit-content;
					border-radius: 5px;

					a {
						color: $very-dark-blue-text;
						text-decoration: none;
					}
				}
			}
		}
	}
}
