nav {
	color: $very-dark-blue-text;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	padding: 1rem 0;
	font-weight: 800;
	box-shadow: 0 5px 5px rgba(68, 68, 68, 0.205);
	position: relative;
	z-index: 5;

	ul {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 85%;
		margin: 0 auto;
		list-style-type: none;

		a {
			color: $very-dark-blue-text;
			text-decoration: none;
			cursor: pointer;
			font-size: 25px;
		}
	}

	.dark-mode {
		display: flex;
		align-items: center;
		background: none;
		cursor: pointer;
		outline: none;
		border: none;
		font-weight: 600;

		svg {
			margin-right: 0.4rem;
		}
	}
}
