@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

$nunito-sans: "Nunito Sans", sans-serif;
$homepage-items-font-size: 14px;
$detail-page-font-size: 16px;

$dark-blue: hsl(209, 23%, 22%); // Dark Mode Elements
$very-dark-blue: hsl(207, 26%, 17%); //Dark Mode Background
$very-dark-blue-text: hsl(200, 15%, 8%); //Light Mode Text
$dark-gray: hsl(0, 0%, 52%); //Light Mode Input
$very-light-gray: hsl(0, 0%, 98%); //Light Mode Background
$white: hsl(0, 0%, 100%); //Dark Mode Text & Light Mode Elements

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: $nunito-sans;
	font-size: $homepage-items-font-size;
	min-height: 100vh;
}

main.main-container {
	min-height: 100vh;
	background: $very-light-gray;

	.content-container {
		margin: auto;
		width: 85%;
		max-width: 1600px;
		padding-bottom: 2rem;
	}
}

// Dark mode
.dark-mode {
	nav {
		background: $dark-blue;
		box-shadow: 0 5px 5px rgba(44, 44, 44, 0.418);
		a,
		button {
			color: $white;
		}
	}

	main.main-container {
		background: $very-dark-blue;
	}

	form.filter-form {
		.search-country {
			background: $dark-blue;
			box-shadow: 0 0 5px rgba(44, 44, 44, 0.418);

			svg {
				path {
					fill: $white;
				}
			}

			input {
				background: $dark-blue;
				color: $white;
				&::placeholder {
					color: $white;
				}
			}
		}

		.filter-dropdown-button {
			background: $dark-blue;
			box-shadow: 0 0 5px rgba(44, 44, 44, 0.418);
			button {
				color: $white;
			}

			ul.region-dropdown-menu {
				background: $dark-blue;
				box-shadow: 0 0 5px rgba(44, 44, 44, 0.418);

				li {
					button:hover {
						color: $dark-gray;
					}
				}
			}
		}
	}

	.countries-container {
		.country {
			background: $dark-blue;
			box-shadow: 0 0 5px rgba(58, 58, 58, 0.288);
			color: $white;
		}
	}

	.back-button {
		a {
			box-shadow: 0 0 8px rgba(24, 24, 24, 0.705);
			background: $dark-blue;
			color: $white;
		}
	}

	.country-detail {
		img {
			box-shadow: 0 0 7px rgba(37, 37, 37, 0.801);
		}

		&-content {
			color: $white;

			.country-detail-borders {
				.border-container {
					.border-button-container {
						box-shadow: 0 0 5px rgba(24, 24, 24, 0.767);
						background: $dark-blue;

						a {
							color: $white;
						}
					}
				}
			}
		}
	}
}

@import "navbar.scss";
@import "countries.scss";
@import "detailedPage.scss";
