@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

$nunito-sans: "Nunito Sans", sans-serif;
$homepage-items-font-size: 14px;
$detail-page-font-size: 16px;

$dark-blue: hsl(209, 23%, 22%); // Dark Mode Elements
$very-dark-blue: hsl(207, 26%, 17%); //Dark Mode Background
$very-dark-blue-text: hsl(200, 15%, 8%); //Light Mode Text
$dark-gray: hsl(0, 0%, 52%); //Light Mode Input
$very-light-gray: hsl(0, 0%, 98%); //Light Mode Background
$white: hsl(0, 0%, 100%); //Dark Mode Text & Light Mode Elements

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: $nunito-sans;
	font-size: $homepage-items-font-size;
	min-height: 100vh;
}

main.main-container {
	min-height: 100vh;
	background: $very-light-gray;

	.content-container {
		margin: auto;
		width: 85%;
		margin-bottom: 2rem;
	}
}

@import "navbar.scss";
@import "countries.scss";
@import "detailedPage.scss";
