$color-red: hsl(0, 100%, 74%);
$color-green: hsl(154, 59%, 51%);
$color-blue: hsl(248, 32%, 49%);
$color-darkBlue: hsl(249, 10%, 26%);
$color-grayishBlue: hsl(246, 25%, 77%);

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Poppins", sans-serif;
	font-size: 16px;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url("./images/bg-intro-desktop.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-color: $color-red;

	.container {
		display: flex;
		margin: 0 auto;
		width: 75%;
		min-height: 500px;
		max-width: 1000px;
		justify-content: center;
		align-items: center;

		.description {
			flex: 1;
			color: white;

			.header {
				font-size: 50px;
				font-weight: 700;
				line-height: 60px;
				margin-bottom: 2rem;
			}
			p {
				padding-right: 3rem;
			}
		}
		.formArea {
			flex: 1;

			button.tab {
				background-color: $color-blue;
				padding: 1.1rem;
				border-radius: 10px;
				text-align: center;
				box-shadow: 2px 2px 10px rgba(114, 114, 114, 0.322);
				cursor: pointer;
				outline: none;
				width: 100%;
				border: none;
				margin-bottom: 1rem;
				font-weight: 400;
				transition: all 0.5s;

				a {
					color: white;
					text-decoration: none;

					span.try {
						font-weight: 700;
						font-size: 1.2rem;
					}
				}
			}
			button.tab:hover {
				background: hsl(251, 34%, 35%);
			}

			form {
				border-radius: 10px;
				background: white;
				padding: 2rem;
				display: flex;
				flex-direction: column;

				input {
					margin-bottom: 1rem;
					height: 55px;
					padding: 0 1rem;
					border-radius: 5px;
					border: 1px solid $color-grayishBlue;
					outline: none;
				}
				input:focus {
					border: 1px solid $color-darkBlue;
				}
				input::placeholder {
					font-weight: 500;
					color: $color-darkBlue;
				}

				button {
					background: $color-green;
					border: none;
					border-radius: 5px;
					padding: 1.4rem;
					color: white;
					font-weight: 700;
					text-transform: uppercase;
					box-shadow: 2px 5px 15px rgba(105, 105, 105, 0.603);
					margin-bottom: 1.2rem;
					cursor: pointer;
					transition: all 0.5s;
				}
				button:hover {
					opacity: 0.75;
				}

				p {
					font-size: 12px;
					text-align: center;
					color: $color-grayishBlue;

					a {
						color: $color-red;
						font-weight: 800;
						cursor: pointer;
					}
				}
			}
		}
	}
}

@media (max-width: 900px) {
	body {
		.container {
			width: 95%;
		}
	}
}

@media (max-width: 675px) {
	body {
		background-image: url("./images/bg-intro-mobile.png");
		background-size: cover;
		background-repeat: no-repeat;
		background-color: $color-red;

		.container {
			display: flex;
			flex-direction: column;
			width: 85%;
			margin-top: 4.5rem;
			margin-bottom: 4rem;

			.description {
				flex: 1;
				color: white;
				text-align: center;
				.header {
					font-size: 27px;
					line-height: 34px;
					font-weight: 500;
					margin-bottom: 1.4rem;
				}
				p {
					padding: 0;
					font-size: 14px;
					margin-bottom: 4rem;
				}
			}
			.formArea {
				flex: 1;

				button.tab {
					padding: 1.2rem 2rem;

					a {
						span.try {
							font-weight: 700;
							font-size: 1rem;
						}
					}
				}

				form {
					padding: 1.6rem;
				}
			}
		}
	}
}
