* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Lato", sans-serif;
	background-image: linear-gradient(to right, rgb(84, 84, 192), rgb(167, 89, 167));
	height: 100vh;
}

.container {
	width: 50%;
	margin: auto;
	overflow: hidden;
}

.content {
	width: 30%;
	height: 80%;
	background-color: rgb(238, 238, 238);
	border-radius: 10px;
	box-shadow: 10px 10px 10px 0px #000b6e41;

	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.list {
	display: grid;
	grid-template-rows: repeat(10, 1fr);
	margin: 1rem;
	list-style-type: none;
	height: 100%;
}

.list li {
	border-radius: 10px;
	cursor: pointer;
	text-align: center;
	background-color: #9f48b1;
	border-top: 2px solid #ff89f9;
	border-right: 2px solid #490768;
	border-bottom: 2px solid #490768;
	border-left: 2px solid #ff89f9;
	border-radius: 5px;
	margin: 0.2rem 0;
}

.list li:first-of-type {
	border: none;
	background: transparent;
}

.list li > h1 {
	font-size: 40px;
	text-align: center;
	color: rgb(21, 1, 94);
	cursor: default;
	font-weight: 700;
}

.list li > .underline {
	border-top: 2px rgb(21, 1, 94) solid;
	width: 50%;
	display: flex;
	margin: 0 auto;
	margin-bottom: 1rem;
}

.list li > a {
	text-decoration: none;
	font-size: 1.2rem;
	color: white;
	padding: 1rem 1.5rem;
	width: fit-content;
	text-align: center;
	font-weight: 400;
}

.list li > a:hover {
	transition: ease 0.5s;
	opacity: 0.85;
}

@media only screen and (max-width: 1440px) {
	.content {
		width: 60%;
		height: 80%;
	}
}

@media only screen and (max-width: 1025px) {
	.content {
		width: 50%;
		height: 80%;
	}
}

@media only screen and (max-width: 770px) {
	.content {
		width: 80%;
		height: 80%;
	}
}

@media (max-width: 425px) {
	.container {
		width: 100%;
	}
	.content {
		width: 90%;
		height: 90%;
	}
}

.hvr-underline-from-center {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	position: relative;
	overflow: hidden;
}
.hvr-underline-from-center:before {
	content: "";
	position: absolute;
	z-index: -1;
	left: 51%;
	right: 51%;
	bottom: 0;
	background: rgba(255, 255, 255, 0.589);
	height: 3px;
	-webkit-transition-property: left, right;
	transition-property: left, right;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before,
.hvr-underline-from-center:focus:before,
.hvr-underline-from-center:active:before {
	left: 0;
	right: 0;
}

.hvr-overline-from-center {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	position: relative;
	overflow: hidden;
}
.hvr-overline-from-center:before {
	content: "";
	position: absolute;
	z-index: -1;
	left: 51%;
	right: 51%;
	top: 0;
	background: #2098d1;
	height: 4px;
	-webkit-transition-property: left, right;
	transition-property: left, right;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.hvr-overline-from-center:hover:before,
.hvr-overline-from-center:focus:before,
.hvr-overline-from-center:active:before {
	left: 0;
	right: 0;
}
