@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 14;
}

h1,
h2,
h3,
h4,
h5,
button,
a {
  font-family: "Raleway", sans-serif;
}

p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14;
}

.container {
  width: 85%;
  max-width: 1400px;
  margin: auto;
}

.info img {
  margin-bottom: 1rem;
  height: 80px;
  width: auto;
}

.info-header {
  font-weight: 700;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

.info-text {
  font-weight: 400;
  font-size: 14;
}

.card {
  background: #202a3c;
  width: 100%;
  padding: 2.5rem 1.5rem 1.5rem 1.5rem;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 12px black;
          box-shadow: 0 0 12px black;
}

.card p.testimonial-text {
  width: 100%;
  line-height: 25px;
  margin-bottom: 1.6rem;
}

.card .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card .user img {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  margin-right: 1rem;
}

.card .user .user-info p.user-name {
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 0.1rem;
}

.card .user .user-info small {
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
}

button {
  background: -webkit-gradient(linear, left top, right top, from(#65e2d9), to(#339ecc));
  background: linear-gradient(to right, #65e2d9, #339ecc);
  border: none;
  color: white;
  padding: 0.8rem 0;
  border-radius: 30px;
  cursor: pointer;
}

button:hover {
  background: -webkit-gradient(linear, left top, right top, from(#65e2d9), to(#65e2d9));
  background: linear-gradient(to right, #65e2d9, #65e2d9);
}

body {
  background: #1c2431;
  min-height: 100vh;
  color: white;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 3rem 0;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}

nav ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul li {
  font-size: 16px;
  margin-left: 2rem;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-bottom: 1px transparent solid;
}

nav ul li:hover {
  border-bottom: 1px white solid;
}

#landing {
  background: url("./images/bg-curvy-desktop.svg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 120vh;
  overflow: hidden;
}

#landing .landing-style {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 756px;
  text-align: center;
}

#landing .landing-style img {
  width: 100%;
}

#landing .landing-style h1 {
  margin-top: 1.5rem;
  font-weight: 700;
}

#landing .landing-style p {
  margin-top: 1.8rem;
  width: 85%;
  font-weight: 400;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#landing .landing-style button {
  width: 220px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 1.5rem;
  font-weight: 700;
}

#features {
  background: #181f2a;
  padding-bottom: 2rem;
}

#features .features-style {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 0 auto;
  -ms-grid-columns: (minmax(300px, 420px))[2];
      grid-template-columns: repeat(2, minmax(300px, 420px));
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  text-align: center;
  row-gap: 4rem;
  -webkit-column-gap: 3rem;
          column-gap: 3rem;
}

#works {
  background-color: #181f2a;
  padding: 5rem 0;
}

#works .works-style {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 1.5rem;
          column-gap: 1.5rem;
}

#works .works-style img.illustration {
  width: 100%;
  max-width: 615px;
  height: auto;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#works .works-style .works-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 1.2rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#works .works-style .works-text h2 {
  width: 60%;
  min-width: 320px;
  font-size: 2.4rem;
}

#works .works-style .works-text p.works-btn {
  color: #65e2d9;
  border-bottom: 1px solid #65e2d9;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

#works .works-style .works-text p.works-btn .icon {
  margin-left: 0.3rem;
}

#works .works-style .works-text p.works-btn:hover {
  color: white;
  border-bottom: 1px solid white;
}

#testimonials {
  background-color: #181f2a;
}

#testimonials .testimonials-style {
  padding: 3rem 0.5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
  position: relative;
}

#testimonials .testimonials-style .bg-quote {
  position: absolute;
  top: 10px;
  left: 0;
  z-index: 3;
}

#cta {
  background: #181f2a;
}

#cta .cta-style {
  background: #202a3c;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  color: white;
  width: 65%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
  row-gap: 2rem;
  border-radius: 15px;
}

#cta .cta-style h1 {
  text-align: center;
  font-size: 2rem;
}

#cta .cta-style p {
  text-align: center;
  width: 91%;
}

#cta .cta-style form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

#cta .cta-style form input {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  padding: 1rem 1.6rem;
  border-radius: 30px;
  border: none;
  outline: none;
  width: 100%;
  max-height: 49px;
  margin-right: 1.5rem;
}

#cta .cta-style form button {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1rem;
  max-height: 49px;
  justify-self: flex-end;
}

@media (max-width: 768px) {
  #cta .cta-style {
    padding: 1rem 0.8rem;
    width: 80%;
  }
  #cta .cta-style button {
    padding: 0.6rem 0.7rem;
    width: 80%;
    font-size: 0.8rem;
  }
}

@media (max-width: 375px) {
  #cta .cta-style {
    width: 100%;
    padding: 2.3rem 0.5rem;
  }
  #cta .cta-style h2 {
    font-size: 1rem;
    font-weight: 700;
  }
}

footer {
  background: #0b1523;
  padding: 10rem 0 2rem 0;
}

footer .footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 1rem;
  padding-right: 5rem;
}

footer .footer-links .col .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 380px;
}

footer .footer-links .col .row img {
  margin-top: 0.2rem;
}

footer .footer-links .col p {
  margin: 0;
  margin-bottom: 1rem;
  margin-left: 1rem;
  cursor: pointer;
}

footer .footer-links .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer-links .social .social-icon {
  border: 1px white solid;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 0.6rem;
  cursor: pointer;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

footer .footer-links .social .social-icon .iconify {
  width: 20px;
  height: 20px;
}

footer .footer-links .social .social-icon:hover {
  background: white;
  color: black;
}
/*# sourceMappingURL=styles.css.map */