* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Libre Franklin", sans-serif;
  font-size: 20px;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container {
  width: 35%;
  text-align: center;
  margin-top: 3rem;
}

body .container .logo {
  margin-bottom: 2rem;
}

body .container .header {
  margin-bottom: 1.5rem;
}

body .container .header h1 {
  color: #969696;
  font-weight: 300;
  margin-bottom: 1rem;
}

body .container .header h1 span {
  font-weight: 700;
  color: black;
}

body .container .header p {
  color: black;
  font-weight: 500;
  font-size: 1rem;
}

body .container form#emailForm {
  margin-bottom: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2rem;
}

body .container form#emailForm .input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  text-align: left;
  width: 100%;
}

body .container form#emailForm .input input {
  outline: none;
  margin-right: 1.5rem;
  border: 1px #c2d3ff solid;
  padding: 0.9rem 1.2rem;
  border-radius: 30px;
}

body .container form#emailForm .input input::-webkit-input-placeholder {
  color: #c2d3ff;
}

body .container form#emailForm .input input:-ms-input-placeholder {
  color: #c2d3ff;
}

body .container form#emailForm .input input::-ms-input-placeholder {
  color: #c2d3ff;
}

body .container form#emailForm .input input::placeholder {
  color: #c2d3ff;
}

body .container form#emailForm .input small {
  color: #ff5263;
  margin-left: 1.2rem;
  margin-top: 0.5rem;
  font-size: 0.8rem;
  font-style: italic;
  display: none;
}

body .container form#emailForm .input small.success-msg {
  color: #09d109;
  margin-left: 1.2rem;
  margin-top: 0.5rem;
  font-size: 1rem;
  font-style: italic;
}

body .container form#emailForm button {
  -webkit-box-flex: 0.4;
      -ms-flex: 0.4;
          flex: 0.4;
  border: 2px #4f7df3 solid;
  padding: 0.9rem 1.2rem;
  border-radius: 30px;
  background: #4f7df3;
  color: white;
  -webkit-box-shadow: 0 0 30px 5px #c2d3ff;
          box-shadow: 0 0 30px 5px #c2d3ff;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

body .container form#emailForm button:hover {
  color: #4f7df3;
  background: white;
}

body .container form#emailForm.error .input input#userEmail {
  border: 1px #ff5263 solid;
}

body .container form#emailForm.error .input small.error-msg {
  display: block;
}

body .container form#emailForm.success .input small.success-msg {
  display: block;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

body .container .img img {
  width: 100%;
  margin-bottom: 2rem;
}

body .container .social-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .container .social-footer .social-circle {
  border: 1px solid #c2d3ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  margin-right: 1rem;
  color: #4f7df3;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

body .container .social-footer .social-circle:hover {
  background: #4f7df3;
  color: white;
}

body footer {
  margin-top: 1.5rem;
  margin-bottom: 3rem;
  font-size: 0.8rem;
  color: #969696;
}

@media (max-width: 1024px) {
  body .container {
    width: 70%;
  }
}

@media (max-width: 630px) {
  body .container {
    width: 80%;
  }
}

@media (max-width: 550px) {
  body .container {
    width: 90%;
  }
}

@media (max-width: 400px) {
  body .container {
    width: 70%;
  }
  body .container .header h1 {
    font-size: 1.4rem;
  }
  body .container .header p {
    font-size: 0.8rem;
  }
  body .container form#emailForm {
    margin-bottom: 4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body .container form#emailForm .input input {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    width: 100%;
    margin-right: 0;
    padding: 0.7rem 1.5rem;
  }
  body .container form#emailForm .input small {
    margin-left: 0;
    margin-bottom: 1rem;
    font-size: 0.7rem;
    text-align: center;
  }
  body .container form#emailForm button {
    margin-top: 1rem;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    width: 100%;
    border: 2px #4f7df3 solid;
    padding: 0.7rem 1.2rem;
    -webkit-box-shadow: 0 0 20px 2px #c2d3ff;
            box-shadow: 0 0 20px 2px #c2d3ff;
  }
  body .container .social-footer {
    margin-top: 3rem;
  }
}
/*# sourceMappingURL=styles.css.map */