footer.footer-container {
	width: 100%;
	background: $VeryDarkViolet;

	.footer {
		width: 85%;
		margin: 0 auto;
		padding: 2rem 0;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
		justify-content: space-between;

		h2,
		p {
			color: white;
		}
	}
}
