.hero {
	width: 85%;
	margin: 3rem auto 7rem auto;

	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;

	&-left {
		flex: 1;
		max-width: 520px;
		margin-right: 2rem;
		h1.title {
			font-size: 62px;
			line-height: 70px;
		}
		.subtitle {
			font-size: 19px;
			color: $Gray;
			margin-bottom: 2rem;
		}
		a {
			text-decoration: none;
			background: $Cyan;
			color: white;
			padding: 0.6rem 1.5rem;
			border-radius: 35px;
			font-weight: $font-medium;
		}
		a:hover {
			opacity: 0.7;
		}
	}

	&-right {
		flex: 1;
		max-width: 800px;
		margin-right: -12rem;
		img {
			width: 100%;
		}
	}

	@media (max-width: 910px) {
		&-left {
			h1.title {
				font-size: 50px;
				line-height: 56px;
			}
			.subtitle {
				font-size: 18px;
			}
		}

		&-right {
			max-width: 800px;
			margin-right: -8rem;
			img {
				width: 100%;
			}
		}
	}

	@media (max-width: 768px) {
		flex-direction: column;
		&-left {
			margin: 0;
			order: 2;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			h1.title {
				text-align: center;
				margin-top: 3rem;
				font-size: 39px;
				line-height: 42px;
				margin-bottom: 1rem;
			}
			.subtitle {
				text-align: center;
			}
			a {
				width: fit-content;
				padding: 0.8rem 1.8rem;
				font-size: 20px;
			}
			a:hover {
				opacity: 0.7;
			}
		}

		&-right {
			flex: 1;
			max-width: 800px;
			margin-right: -12rem;
			img {
				width: 100%;
			}
		}
	}
}

.stats-container {
	background: rgba(236, 232, 238, 0.678);
	padding-bottom: 7rem;
	position: relative;
	padding-top: 1rem;

	.statistics {
		width: 85%;
		margin: 0 auto;
		text-align: center;
		margin-top: 4rem;

		h2.title {
			font-size: 40px;
		}
		p.subtitle {
			font-size: 18px;
			color: $GrayishViolet;
			width: 42%;
			margin: 0 auto;
			margin-bottom: 6rem;
		}

		.boxes {
			position: relative;
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
			column-gap: 1.5rem;

			.background-line {
				position: absolute;
				left: 0;
				bottom: 50%;
				background: $Cyan;
				height: 8px;
				width: 100%;
				z-index: 2;
			}

			.box {
				background: white;
				position: relative;
				z-index: 5;
				text-align: left;
				padding: 3.6rem 1.8rem 2rem 1.8rem;
				border-radius: 10px;
				height: fit-content;

				.icon-container {
					position: absolute;
					left: 10%;
					top: -15%;
					background: $VeryDarkBlue;
					padding: 1rem;
					border-radius: 50%;
					width: 70px;
					height: 70px;
					display: flex;
					justify-content: center;
					align-items: center;

					img {
						width: 35px;
						height: 35px;
					}
				}
				h3 {
					font-size: 25px;
				}
				p {
					margin-top: 0.4rem;
					font-size: 16px;
					color: $GrayishViolet;
				}

				&-2 {
					margin-top: 2.5rem;
				}
				&-3 {
					margin-top: 5rem;
				}
			}
		}

		@media (max-width: 960px) {
			h2.title {
				font-size: 30px;
			}
			p.subtitle {
				width: 85%;
			}

			.boxes {
				grid-template-columns: unset;
				grid-template-rows: repeat(3, 1fr);
				row-gap: 5rem;
				position: relative;

				.background-line {
					left: 50%;
					transform: translateX(-50%);
					top: 0;
					height: 100%;
					width: 8px;
				}

				.box {
					position: relative;
					text-align: center;
					padding: 3.8rem 1.8rem 2.5rem 1.8rem;
					min-height: 100%;

					.icon-container {
						left: 50%;
						top: -20%;
						transform: translateX(-50%);
						width: 90px;
						height: 90px;

						img {
							width: 40px;
							height: 40px;
						}
					}

					&-2,
					&-3 {
						margin-top: 0;
					}
				}
			}
		}
	}
}

.boost-container {
	width: 100%;
	background-image: url("../images/bg-boost-desktop.svg"), linear-gradient($DarkViolet, $DarkViolet);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 4.5rem 0;

	.boost {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 80%;
		margin: 0 auto;

		h2 {
			color: white;
			font-size: 35px;
			font-weight: $font-bold;
		}
		a {
			text-decoration: none;
			color: white;
			background: $Cyan;
			padding: 0.6rem 1.5rem;
			border-radius: 29px;
			font-size: 22px;
			margin-top: 1.2rem;
		}
		a:hover {
			background: hsl(180, 67%, 66%);
		}

		@media (max-width: 600px) {
			width: 95%;
			h2 {
				font-size: 28px;
			}
			a {
				padding: 0.8rem 1.8rem;
				font-size: 22px;
				margin-top: 1.2rem;
			}
		}
	}
}
