// ========= COLORS ===========
//Primary
$dark-cyan: hsl(185, 75%, 39%);
$very-dark-desaturated-blue: hsl(229, 23%, 23%);
$dark-grayish-blue: hsl(227, 10%, 46%);

//Neutral
$dark-gray: hsl(0, 0%, 59%);

// ========= TYPOGRAPHY ===========
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
$kumbhSans-font: "Kumbh Sans", sans-serif;
$font-size: 18px; // Name and stats

// ========= RESETS/DEFAULTS ===========
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: $font-size;
	font-family: $kumbhSans-font;
}

// ========= MAIN STYLE ===========
body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	position: relative;
	background-color: $dark-cyan;
	background-image: url("./images/bg-pattern-top.svg"), url("./images/bg-pattern-bottom.svg");
	background-repeat: no-repeat, no-repeat;
	background-position: right 50vw bottom 50vh, left 50vw top 50vh;
	overflow: hidden;
}

.card {
	z-index: 5;
	background: white;
	border-radius: 20px;
	box-shadow: 0 0 15px rgba(99, 99, 99, 0.493);

	.profile-top {
		position: relative;
		margin-bottom: 3.8rem;
		img.background-pic {
			border-radius: 20px 20px 0 0;
			width: 100%;
		}
		img.profile-pic {
			border-radius: 50%;
			position: absolute;
			left: 50%;
			bottom: -35%;
			transform: translateX(-50%);
			border: white solid 6px;

			@media (max-width: 400px) {
				width: 100px;
				bottom: -40%;
			}
		}
	}

	.profile-info {
		.name {
			text-align: center;
			font-weight: bold;
			color: $very-dark-desaturated-blue;
			span {
				color: $dark-grayish-blue;
				font-weight: lighter;
				margin-left: 0.3rem;
			}
		}
		.city {
			margin-top: 0.7rem;
			text-align: center;
			color: $dark-grayish-blue;
			font-weight: lighter;
			font-size: 0.8rem;
		}
	}

	.profile-stats {
		display: flex;
		justify-content: space-evenly;
		margin-top: 1.5rem;
		padding: 1.5rem 0;
		border-top: 1px rgb(223, 223, 223) solid;

		&-section {
			text-align: center;
			.number {
				font-weight: bold;
				font-size: 1.1rem;
				margin-bottom: 0.1rem;
				color: $very-dark-desaturated-blue;
			}
			small {
				font-weight: lighter;
				font-size: 0.58rem;
				letter-spacing: 1.7px;
				color: $dark-grayish-blue;
			}
		}
	}

	@media (max-width: 400px) {
		width: 85%;
	}
}
