// ========= COLORS ===========
//Primary
$dark-cyan: hsl(185, 75%, 39%);
$very-dark-desaturated-blue: hsl(229, 23%, 23%);
$dark-grayish-blue: hsl(227, 10%, 46%);

//Neutral
$dark-gray: hsl(0, 0%, 59%);

// ========= TYPOGRAPHY ===========
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
$kumbhSans-font: "Kumbh Sans", sans-serif;
$font-size: 18px; // Name and stats

// ========= RESETS/DEFAULTS ===========
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: $font-size;
}

// ========= MAIN STYLE ===========
body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	position: relative;
	background: $dark-cyan;
	overflow: hidden;
}

.background-img-top {
	position: absolute;
	top: 0;
	left: 0;
	transform: translate(-30%, -50%);
}

.background-img-bot {
	position: absolute;
	bottom: 0;
	right: 0;
	transform: translate(30%, 50%);
}

.card {
	z-index: 5;
	background: white;
	border-radius: 20px;
	box-shadow: 0 0 15px rgba(99, 99, 99, 0.493);

	.profile-top {
		position: relative;
		margin-bottom: 5rem;
		.background {
			img {
				border-radius: 20px 20px 0 0;
			}
		}
		.profile-pic {
			img {
				border-radius: 50%;
				position: absolute;
				left: 50%;
				top: bottom;
				transform: translate(-50%, -50%);
				border: white solid 6px;
			}
		}
	}
}
